<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SQL Server" connectionString="Data Source=MAGDYALGAMAL\SQLEXPRESS; &#xA;         AttachDbFilename=F:\Magdy\MySoftware\MyDataBase\E_MailAdrs.mdf;&#xA;         Integrated Security=true;&#xA;         Connect Timeout=30;&#xA;         User Instance=false"
   providerName="System.Data.SqlClient" />
  <add name="MS Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;&#xA;       Data Source=|DataDirectory|\E_MailAdrs.mdb;&#xA;       Persist Security Info=True"
   providerName="System.Data.OleDb" />
  <add name="MagMail.My.MySettings.E_MailAdrsConnectionString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\E_MailAdrs.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
	<startup/></configuration>
