<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AIO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="EGPlast SQL" connectionString=";
			Data Source=magdyalgamal\INFOSYSMESQL;
			Initial Catalog=EGPlast;
			persist security info=False;
			User Id=magdyalgamal;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;
			app=Microsoft® Visual Studio® 2008;
			Network Library=DBMSSOCN;
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;		 
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient=" />
		<add name="Dimo" connectionString=";
			Data Source=EGPLASTMAG\EGPLASTMAG_SQL;
			Initial Catalog=Dimo;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast test" connectionString=";
			Data Source=EGPLAST-SQL\EGPLAST_SQL;
			Initial Catalog=Test_EGPlast;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="Test EGPlast Salem" connectionString=";
			Data Source=EGPLAST-SQL\EGPLAST_SQL;
			Initial Catalog=Test_EGPlast_Salem;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="AlEntesar SQL" connectionString=";
			Data Source=EGPLAST-SQL\EGPLAST_SQL;
			Initial Catalog=AlEntesar;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="AlEntesar Test" connectionString=";
			Data Source=EGPLAST-SQL\EGPLAST_SQL;
			Initial Catalog=Test_AlEntesar;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="Nasr City Connection" connectionString=";
			Data Source=EGPLAST-SQL\EGPLAST_SQL;
			Initial Catalog=EGPlast;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="SQL Host" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=EGPlast;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast Host Test" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=Test_EGPlast;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			 Pooling=True;        
			 Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="AIO Demo" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=AIO_Demo;
			persist security info=False;
			User Id=magdyalgamal;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="AIO Demo Host" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=AIO;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;        
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2014 Host" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=EGPlast2014;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2015 Host" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=EGPlast2015;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2016 Host" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=EGPlast2016;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			 Pooling=True;        
			 Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2017 Host" connectionString=";
		Data Source=196.204.240.61\EGPLAST_SQL;
		Initial Catalog=EGPlast2017;
		persist security info=False;
		User Id=egplast;
		Password=M@g3lo3.C0m;
		User Instance=false;
		Integrated Security=false;
		Connect Timeout=50;		 
		MultipleActiveResultSets=True;
		Connection Lifetime=0;
		Pooling=True;
		Max Pool Size=10;
		ConnectRetryCount=30;
		ConnectRetryInterval=5;
		Packet Size=32767;
		trusted_connection=no;
		MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2018 Host" connectionString=";
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=EGPlast2018;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2013" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast2013;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
		<add name="EGPlast 2014" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast2014;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
	  providerName="System.Data.SqlClient" />
		<add name="EGPlast SQL 2015" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast2015;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="EGPlast SQL 2016" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast2016;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="EGPlast SQL 2017" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast2017;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="EGPlast SQL 2018" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast2018;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="Egplast Home" connectionString=";
			Data Source=EGPLASTMAG\EGPLASTMAG_SQL;
			Initial Catalog=EGPlast;
			persist security info=False;
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=30;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="Egplast Work" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=EGPlast;
			persist security info=False; 
			User Id=egplast;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=30;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="AlAdawy" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=AlAdawy;
			persist security info=False;
			User Id=MagdyAlGamal;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="AlAdawy Local" connectionString=";
			Data Source=DESKTOP-VFGHJMF\ALADAWY_SQL;
			Initial Catalog=AlAdawy;
			persist security info=False;
			User Id=adawy;
			Password=@10sq1p@ss3r;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;        
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="AlAdawy Host" connectionString=";
			Data Source=197.44.124.231\ALADAWY_SQL;
			Initial Catalog=AlAdawy;
			persist security info=False;
			User Id=adawy;
			Password=@10sq1p@ss3r;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="AIO_Local" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=AIO;
			persist security info=False;
			User Id=MagdyAlGamal;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="PAX_Me_Local" connectionString=";
			Data Source=AIO\PAXMESQL;
			Initial Catalog=Pax_Me;
			persist security info=False;
			User Id=PAXMe;
			Password=Me@PaxMe;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="PAX_Me_Mag" connectionString=";
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=PAX_Me;
			persist security info=False;
			User Id=magdyalgamal;
			Password=M@g3lo3.C0m;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			 Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="PAX_Me_TEST" connectionString=";
			Data Source=AIO\PAXMESQL;
			Initial Catalog=Pax_Me;
			persist security info=False;
			User Id=PAXMe;
			Password=Me@PaxMe;
			User Instance=false;
			Integrated Security=false;
			Connect Timeout=50;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="Sheba_Local" connectionString="
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=Sheba;     
			persist security info=False;        
			User Id=MagdyAlGamal;     
			Password=M@g3lo3.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;	 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="Sheba" connectionString="
			Data Source=SHEBASERVER\SHEBA_SQL;
			Initial Catalog=Sheba;     
			persist security info=False;        
			User Id=Sheba;     
			Password=$#3b@.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30; 	 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="Sheba_Host" connectionString="
			Data Source=197.45.128.184\SHEBA_SQL;
			Initial Catalog=Sheba;     
			persist security info=False;        
			User Id=Sheba;     
			Password=$#3b@.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30; 	 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="Sheba_Host_Test" connectionString="
			Data Source=197.45.128.184\SHEBA_SQL;
			Initial Catalog=Sheba_Host_Test;     
			persist security info=False;        
			User Id=Sheba;     
			Password=$#3b@.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30; 	 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		
		<add name="DeltaCS_Local" connectionString="
			Data Source=MAGDYALGAMAL\INFOSYSMESQL;
			Initial Catalog=DeltaCS;     
			persist security info=False;        
			User Id=MagdyAlGamal;     
			Password=M@g3lo3.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="DeltaCS" connectionString="
			Data Source=DELTACS\DELTACS_SQL;
			Initial Catalog=DeltaCS;     
			persist security info=False;        
			User Id=Deltacs;     
			Password=D31t@CS;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30; 		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="DeltaCS_Host" connectionString="
			Data Source=DeltaCS.ddnsfree.com\DELTACS_SQL;
			Initial Catalog=DeltaCS;     
			persist security info=False;        
			User Id=DeltaCS;     
			Password=D31t@CS;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="DeltaCS_Test_Host" connectionString="
			Data Source=DeltaCS.ddnsfree.com\DELTACS_SQL;
			Initial Catalog=DeltaCS_Test;     
			persist security info=False;        
			User Id=DeltaCS;     
			Password=D31t@CS;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30; 		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="AIO_Host" connectionString="
			Data Source=196.204.240.61\EGPLAST_SQL;
			Initial Catalog=AIO;
			persist security info=False;        
			User Id=egplast;     
			Password=M@g3lo3.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;
			Connection Lifetime=0; 	     
			MultipleActiveResultSets=True;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;        
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		   providerName="System.Data.SqlClient" />
		<add name="AIO" connectionString="
			Data Source=EGPLAST-SQL\EGPLAST_SQL;
			Initial Catalog=AIO;
			persist security info=False;        
			User Id=egplast;     
			Password=M@g3lo3.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
	  providerName="System.Data.SqlClient" />
		<add name="TechnoPrint_Local" connectionString="
			Data Source=magdyalgamal\INFOSYSMESQL;
			Initial Catalog=TechnoPrint;
			persist security info=False;        
			User Id=magdyalgamal;     
			Password=M@g3lo3.C0m;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="TechnoPrint" connectionString="
			Data Source=DESKTOP-KGM9LGJ\TECHNOPRINT_SQL;
			Initial Catalog=TechnoPrint;
			persist security info=False;        
			User Id=TechnoPrint;     
			Password=T3chn0@Pr1nt;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
		<add name="TechnoPrint_Host" connectionString="
			Data Source=41.39.130.36\TECHNOPRINT_SQL;
			Initial Catalog=TechnoPrint;
			persist security info=False;        
			User Id=TechnoPrint;     
			Password=T3chn0@Pr1nt;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />

		<add name="AIO.My.MySettings.ConnectionString" connectionString="Data Source=MAGDYALGAMAL\INFOSYSMESQL;Initial Catalog=AIO;Persist Security Info=True;User ID=MagdyAlGamal;Password=M@g3lo3.C0m"
		 providerName="System.Data.SqlClient" />
		<add name="AIO.My.MySettings.ConnectionString1" connectionString="Dsn=SQL_Host;uid=egplast"
		 providerName="System.Data.Odbc" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
		<system.windows.forms jitDebugging="true" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<AIO.My.MySettings>
			<setting name="PlayAgain" serializeAs="String">
				<value>False</value>
			</setting>
		</AIO.My.MySettings>
	</userSettings>
	<appSettings>
		<add key="Username" value="shebafactory"/>
		<add key="Domain" value="shebaserver"/>
		<add key="Password" value="$#3b@2021"/>
	</appSettings>
</configuration>
