<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<connectionStrings>
		<add name="NameTheConnection" connectionString="    Data Source=DataSourceName\INFOSYSMESQL;    Initial Catalog=MagNote;         persist security info=False;            User Id=UserIdName;         Password=UseYourPassword;            User Instance=false;     Integrated Security=false;     Connect Timeout=30;       MultipleActiveResultSets=True;    Connection Lifetime=0;    Pooling=True;    Max Pool Size=10;    ConnectRetryCount=30;    ConnectRetryInterval=5;    Packet Size=32767;    trusted_connection=no;    MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="NameTheConnection" connectionString="    Data Source=DataSourceAthost;    Initial Catalog=db_a9b71a_magnotebs;         persist security info=False;            User Id=UserIdName;         Password=UseYourPassword;            User Instance=false;     Integrated Security=false;     Connect Timeout=30;       MultipleActiveResultSets=True;    Connection Lifetime=0;    Pooling=True;    Max Pool Size=10;    ConnectRetryCount=30;    ConnectRetryInterval=5;    Packet Size=32767;    trusted_connection=no;    MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		<system.windows.forms jitDebugging="true" />
	</startup>
  <appSettings>
    <add key="SMTP_Mail_User_Name" value="MailName@domain.com" />
		<add key="SMTP_Mail_User_Password" value="MailPassword" />
		<add key="SMTP_Host" value="SMTP_HostName" />
		<add key="SMTP_Port" value="587" />
		<add key="SMTP_DeliveryMethod" value="Network" />
		<add key="SMTP_EnableSsl" value="True" />
		<add key="SMTP_Mail_From" value="MailName@domain.com" />
		<add key="SMTP_Use_Default_Credentials" value="0" />
		<add key="SMTP_Use_SmtpServer_Or_SmtpClient" value="1" />
		<add key="EncryptionKey" value="NameEncryptionKey" />
		<add key="FTP_Address" value="FTP_AddressName/infosysme/" />
		<add key="FTP_UserName" value="FTP_UserName" />
		<add key="FTP_Password" value="FTP_Password" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
