<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<connectionStrings>
		<add name="MagNote_Local" connectionString="
			Data Source=Data Source;
			Initial Catalog=Initial Catalog;     
			persist security info=False;        
			User Id=User Id;     
			Password=Password;        
			User Instance=false; 
			Integrated Security=false; 
			Connect Timeout=30;		 
			MultipleActiveResultSets=True;
			Connection Lifetime=0;
			Pooling=True;
			Max Pool Size=10;
			ConnectRetryCount=30;
			ConnectRetryInterval=5;
			Packet Size=32767;
			trusted_connection=no;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		<system.windows.forms jitDebugging="true" />
	</startup>
  
  <appSettings>
		<add key="EncryptionKey" value="EncryptionKey" />
		<add key="FTP_Address" value="FTP_Address/" />
		<add key="FTP_UserName" value="FTP_UserName" />
		<add key="FTP_Password" value="FTP_Password" />
  </appSettings>
</configuration>
